/* 
    author: Wilson Kinyua
    email: wilsonkinyuam@gmail.com
    date: Wed Jul 7 2021
*/

/*  navigation styles */

/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

body {
  background-color: rgb(10, 25, 47);
}

.nav {
  background-color: rgb(25, 28, 77);
}

.logo {
  width: 40%;
  height: 80px;
  float: left;
  background-color: rgb(25, 28, 77);
  font-family: "Pacifico", cursive;
  margin-bottom: 1px;
}

#code {
  font-size: 18px;
  font-weight: bold;
}

.logo #name {
  color: white;
  font-size: 30px;
  margin-bottom: 2px;
}

.logo p {
  font-size: 30px;
  color: white;
  font-weight: 400;
  padding-left: 5%;
  text-transform: capitalize;
}

.logo span {
  font-size: 45px;
  font-weight: normal;
  color: rgb(59, 58, 58);
  text-transform: capitalize;
}

#mobile {
  text-align: center;
  background-color: rgba(0, 100, 50, 0.2);
  width: 100%;
  clear: both;
  display: none;
  height: 40px;
  border-top: 3px solid rgb(0, 250, 200);
}

#mobile p {
  padding-top: 1%;
  font-size: 20px;
  color: gray;
  text-transform: uppercase;
  letter-spacing: 0.3em;
}

a {
  text-decoration: none;
  color: #fff;
  transition: all 1s ease;
}

nav {
  width: 60%;
  height: 80px;
  float: left;
  background-color: rgb(25, 28, 77);
}

nav ul li {
  list-style: none;
  color: #fefefe;
  float: left;
  font-size: 15px;
  padding: 3% 2.5%;
  transition: all 0.5s ease;
}

nav ul li:hover {
  background-color: rgba(0, 0, 0, 0.2);
  border-top: 1px solid red;
  height: 0px;
}

nav ul li a:hover {
  color: whitesmoke;
}

@media (max-width: 1280px) {
  .logo p {
    font-size: 38px;
    padding-left: 8%;
  }

  nav ul li {
    font-size: 19px;
    padding: 4.8% 3.3%;
  }
}

@media (max-width: 1024px) {
  * {
    font-size: 17px;
  }

  .logo,
  nav {
    height: 75px;
  }

  .logo p {
    font-size: 35px;
    padding-left: 8%;
    padding-top: 2%;
  }

  .logo p span {
    font-size: 40px;
  }

  nav ul li {
    font-size: 18px;
    padding: 5.3% 3.5%;
    height: auto;
  }
}

/* homepage styles */

.my_name {
  color: white;
  font-weight: 800;
  font-size: 50px;
}

.bio {
  color: rgb(187, 193, 195);
  font-size: 20px;
  line-height: 30px;
}

.icons span i {
  color: white;
  margin: 5px;
  font-size: 1.3rem;
  border-radius: 30px;
  padding: 10px;
}

/* .icons span i:hover {
  background-color: black;
} */

.fa-github {
  background-color: black;
}

.fa-facebook-square {
  background-color: #1877f2;
}

.fa-google {
  background-color: rgb(207, 19, 19);
}

.fa-twitter {
  background-color: rgba(29, 161, 242, 1);
}

.fa-linkedin {
  background-color: #0e76a8;
}

.buttons button {
  margin: 40px 20px 20px 0;
}

.buttons .btn {
  color: white;
  text-transform: uppercase;
}

/* media queries */

@media (max-width: 768px) {
  /* navigation bar */
  .logo {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    clear: both;
    text-align: center;
    border: none;
    height: 90px;
  }

  .logo p {
    font-size: 36px;
    padding-left: 0;
  }

  .logo p span {
    font-size: 45px;
  }

  #mobile {
    display: block;
  }

  #nav {
    width: 100%;
    height: 100%;
    display: none;
  }

  #nav ul li {
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    width: 100%;
    padding: 1% 0%;
    text-align: center;
  }

  /* homepage section */
  .my_name {
    font-size: 20px;
  }
  .passport {
    text-align: center;
    height: auto;
    width: 340px;
  }
}

/* @media (max-width: 1380px) {
  .my_name {
    font-size: 25px;
  }
} */
